<!doctype html>
<html lang="<%= config.language || 'en' %>">
<%- partial('components/head') %>
<body>
  <div id="container">
    <%- partial('components/header') %>
    <main>
      <%- body %>
    </main>
    <%- partial('components/footer') %>
  </div>
  <%- partial('components/googleanalytics') %>
</body>
</html>
