<% if (page.tag) { %>
  <%- partial('components/post_list', { title: '#' + page.tag, posts: page.posts }) %>
  <%- partial('components/pagination') %>
<% } else { %>
  <section id="list">
    <h2>Tags</h2>
    <ul>
      <% site.tags.sort('name').each(function(tag){ %>
        <li>
          <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
          <span class="count">(<%= tag.length %> entries)</span>
        </li>
      <% }) %>
    </ul>
  </section>
<% } %>
